h1 {color: rgb(219, 189, 15);}
body {color:rgb(155, 155, 155);}
h3 {color: rgb(219, 189, 15);}
h2 {color: rgb(133, 133, 133);}
p, ul, h3, h1,h2 {font-family: Raleway}
header {background-color: #C2C2C2;}
Section {background-color: rgb(209, 209, 209); width: 750px;} 